[Unit]
Description=Set default SoundBlaster audio device
After=default.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/set_soundblaster.sh

[Install]
WantedBy=default.target