SUBSYSTEM=="tty", ATTRS{idVendor}=="16d0", ATTRS{idProduct}=="117e", SYMLINK+="ttyCANable", MODE="0666", ACTION=="add", RUN+="/usr/sbin/service can@ttyCANable start"
SUBSYSTEM=="tty", ATTRS{idVendor}=="16d0", ATTRS{idProduct}=="117e", ACTION=="remove", RUN+="/usr/sbin/service can@ttyCANable stop"
