[Unit]
Description="Instance of slcand for can #%i"

[Service]
Type=Simple
User=root
ExecStart=/usr/local/bin/startCan.sh %i
ExecStop=/usr/local/bin/stopCan.sh

[Install]
WantedBy=multi-user.target